<div class="container mt-4" #formularioPagos >
    <h2>{{ editar ? 'Editar Pagos': 'Agregar Pagos' }}</h2>

    <form (ngSubmit)= "guardar(formPagos)" #formPagos= "ngForm" novalidate>
        <div class="row">
            <div class="col-md-4 mb-2">
                <input class="form-control" type="text" placeholder="metodo_pago"[(ngModel)]= "pagos.metodo_pago"
                name="metodo_pago" required #metodo_pago="ngModel" [ngClass]= "{'is-invalid': metodo_pago.invalid && metodo_pago.touched}">

            </div>
            <div class="col-md-4 mb-2">
                <input class="form-control" type="date" placeholder="fecha_pago"[(ngModel)]= "pagos.fecha_pago"
                name="fecha_pago" required #fecha="ngModel" [ngClass]= "{'is-invalid': fecha.invalid && fecha.touched}">

            </div>
           
           
             
        </div>
        <button type="submit" class="btn btn-primary me-2" [disabled]= "formPagos.invalid">
            <mat-icon>{{ editar ? 'edit' : 'add' }} </mat-icon>
                        {{editar ? 'Actualizar' : 'Agregar' }}
        </button>
        <button type="button" class="btn btn-secondary" *ngIf= "editar" (click)= "editarPagosCancelar(formPagos)">
        <mat-icon>close</mat-icon>
                  Cancelar
        </button>
    </form>

    <hr class="my-4" /> 

    <h3>Lista de Pagos</h3>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filtro($event)" placeholder="Buscar pagos">
    </mat-form-field>

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="idPago">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let c">{{ c.idPago }}</td>
            </ng-container>
            <ng-container matColumnDef="metodo_pago">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Metodo_pago</th>
                <td mat-cell *matCellDef="let c">{{ c.metodo_pago}}</td>
            </ng-container>
            <ng-container matColumnDef="fecha_pago">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha_pago</th>    
                <td mat-cell *matCellDef="let c">{{ c.fecha | date: 'yyyy-MM-dd'}}</td>
            </ng-container>
            
                  

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let c">
                    <div class="d-flex gap-1">
                        <button class="btn btn-warning btn-sm me-1" (click)="editarPagos(c)">
                            <mat-icon class="me-1">edit</mat-icon>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)=" pagos = c; delete()">
                            <mat-icon class="me-1">delete</mat-icon>
                        </button>

                    </div>
                </td>


            </ng-container>

            <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
            <tr mat-row *matRowDef="let row; columns: mostrarColumnas;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

    </div>
</div>
